{% load static %}
<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Login Form Design | CodeLab</title>
      <link rel="stylesheet" href="{% static 'css/login.css' %}">
   </head>
   <body>
      <div class="wrapper">
         <div class="title">
            Login Form
         </div>
         <form action="{% url 'account:login' %}" method="post">
             {% csrf_token %}

            {{ form.as_div }}
            <div class="content">
               <div class="pass-link">
                  <a href="{% url 'account:forgot' %}">Forgot password?</a>
               </div>
            </div>
            <div class="field">
               <input type="submit" value="Login">
            </div>
            <div class="signup-link">
               Not a member? <a href="{% url 'account:signup' %}">Signup now</a>
            </div>
         </form>
      </div>
   </body>
</html>