{% load static %}
<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Login Form Design | CodeLab</title>
      <link rel="stylesheet" href="{% static 'css/login.css' %}">
   </head>
   <body>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
        </ul>
    {% endif %}
      <div class="wrapper">
         <div class="title">
            SignUp Form
         </div>
         <form action="{% url 'account:signup' %}" method="post">
             {% csrf_token %}
             {{ form.as_p }}
            <div class="field">
               <input type="submit" value="SignUp">
            </div>
            <div class="signup-link">
               Do You Have Account> <a href="{% url 'account:login' %}">Login</a>
            </div>
         </form>
      </div>
   </body>
</html>